html, body{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    height: 99%;
    width: 99%;
}

#container{
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
}

#graph-container{
    height: 100%;
    width: 74%;
    float: right;
}

#data-container{
    height: 100%;
    width: 24%;
    float: left;
    /*padding-bottom: 500em;
    margin-bottom: -500em;*/
}